body
{
    margin: 0%;
}
section
{
    height: 100vh;
    left: 0%; 
}

.nav
{
    height: 4rem;
    font-size: 1rem;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color:#113255;
    color:#fff;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    font-family: 'calibri';
    display: flex;
    margin: 0%;
    font-size: 1.5rem;
    padding-left: 2%;
    padding-left: 2%;
      
}
.nav-items
{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-right:5%;
    list-style: none;
}

li
{
    font-size: 1.5rem;
    font-family: 'calibri';
    align-items:center;
    justify-content: space-evenly;
    padding: 10%;
}
.nav-items a:hover
{
  text-decoration: underline;
}

.nav-items a
{
  text-decoration: none;
  color: #fff;
}

.nav
{
  position: sticky;
  top:0%;
}
.Home
{
    
    height:100vh;
    background-color:#edf2f7;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.btn
{
    display: flex;
    flex-direction: column;
    color:black;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10%;
    margin-right:13%;
    margin-left:5%;
    padding: 0.7rem;
    cursor: pointer;
}

.btn:hover
{
    text-decoration: none;
    background-color: #113255;
    color: #edf2f7;
    transition: all 0.4s ease;

}
.h_text
{
    color: #113255;
    font-size: 1.4rem;
    margin-left: 3.5%;
    margin-right:3.5%;
}

.Home img
{
    width: 500px;
    margin-left:3%;
}


.About
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    height: 100vh;
    margin: 0%;
    background-color:#113255
}

.About img
{
    width: 500px;
}

.a-text
{
    font-family: 'calibri';
    color: #fff;
    align-content: center;
    font-size: 2rem;

}
.a-list
{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    list-style: none;
}

.a-list li
{
   padding: 3%;
}

.a-list li a
{
   color: #fff;
   text-decoration: none;
}
.a-list a:hover
{
    text-decoration: underline;
}
.cell
{
    color: #fff;
    padding: 0%;
}
.a-body
{
    width:30%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.p-heading
{
    text-align: center;
    font-size: 1.4rem;
}

.p-heading  h2
{
    color: #113255;
    margin-top: 0;
    padding-top: 2%;
}
.container
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-left: 3%;
    margin-right: 3%;
    column-gap: 2%;

}

.sec
{
    
    border-radius: 12px;
    height:30rem;
    background-color:#113255;
    padding: 2%;
}

.sec :hover
{
    text-decoration:underline;
    color:#edf2f7;
}

.Portfolio
{
    background-color: #edf2f7;
}

.sec h2
{
    font-family: 'calibri';
    color: #fff;
    text-align: center;
}

.sec p
{
    line-height: 1.5;
    font-family: 'calibri';
    color: #fff;
    text-align: center;
    font-size: 1rem;
}
.sec a
{
    color: black;
    text-decoration: none;
}
.end
{

  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  background-color: #113255;
  color: #edf2f7;
  border-radius: 2%;
  margin-top:1%;
  height: 5rem;
  align-items: center;

}

.End
{
    margin-left: 2%;
}